NET "ai[0]" LOC = D29;
NET "ai[1]" LOC = E29;
NET "ai[2]" LOC = B26;
NET "ai[3]" LOC = A26;
NET "bi[0]" LOC = L24;
NET "bi[1]" LOC = C23;
NET "bi[2]" LOC = K23;
NET "bi[3]" LOC = B23;
NET "clk" LOC = D22;
NET "ce" LOC = A24;
NET "sr" LOC = A23;
NET "ao[0]" LOC = AD2;
NET "ao[1]" LOC = AL9;
NET "ao[2]" LOC = AD1;
NET "ao[3]" LOC = AK9;
NET "bo[0]" LOC = AG2;
NET "bo[1]" LOC = AR9;
NET "bo[2]" LOC = AG1;
NET "bo[3]" LOC = AP9;
