NET "a[0]" LOC = AK21;
NET "a[1]" LOC = AL21;
NET "a[2]" LOC = AF20;
NET "a[3]" LOC = AG20;
NET "a[4]" LOC = AU21;
NET "a[5]" LOC = AU22;
NET "a[6]" LOC = AT15;
NET "a[7]" LOC = AT16;
NET "a[8]" LOC = K23;
NET "a[9]" LOC = L24;
NET "a[10]" LOC = A23;
NET "s[0]" LOC = AD4;
NET "s[1]" LOC = AB10;
NET "s[2]" LOC = AB11;
NET "s[3]" LOC = D21;
NET "s[4]" LOC = AD2;
NET "s[5]" LOC = AD1;
NET "s[6]" LOC = AD5;
NET "s[7]" LOC = AL3;
NET "s[8]" LOC = A26;
NET "s[9]" LOC = D20;
NET "s[10]" LOC = C18;
